:root {
    /* paleta de colores principales*/
--blanco: #F2F2F2;
--amarillo: #F2EA79;
--amarillo-fuerte: #F2E527;
--oro: #D9B13B;
--oro-oscuro: #BF961B;
--dorado: #A67A29;
--naranja: #BF7111;
--naranjasombra: #A6530A;
--cafebrillante: #8C6B42;
--cafeclaro: #A6945D;
--claro: #A69576;
--fondo: #000000;
--whatsapp: #64BF0A;
}

* {
  font-family: 'open sans', 'lato', 'helvetica', sans-serif;
}

#header {
background-color: var(--fondo);
position: relative;

}

#header ul li a{
  color: var(--blanco);
}

#header ul li a:hover{
  color: var(--oro);

}

.image{
    position: sticky;
    background-color: var(--fondo);
}
.img-logo{
    height: 250px;
}
.dropdown-menu {
  margin-top: 0;
  background: linear-gradient(
    var(--naranjasombra),
    var(--naranja),
    var(--dorado),
    var(--oro),
    var(--amarillo),
    var(--oro),
    var(--dorado),
    var(--naranja),
    var(--naranjasombra)
  );
}

.navbar .nav-item:not(:last-child) {
  margin-right: 35px;
}
 
.dropdown-toggle::after {
   transition: transform 0.15s linear; 
}
 
.show.dropdown .dropdown-toggle::after {
  transform: translateY(5px);
}

.text-brand{
    color: var(--blanco);
    padding-bottom: 10px;
    margin: 0%;
}

.navbar{
    margin: 0%;
    padding: 0%;
}

.navbar-nav.navbar-center {
  position: relative;
  left: 50%;
  transform: translatex(-50%);
}

.text-conductorelegido {
    color: var(--whatsapp);
  }
  
  .text-conductorelegido:hover {
    background-color: var(--whatsapp);
    color: aliceblue;
  }
  
  .btn-conductorelegido {
    background-color: var(--oro);
    color: var(--fondo);
  }
  
  .btn-conductorelegido:hover {
    background-color: var(--whatsapp);
    color: white;
  }

  .btn-flotante {
    font-size: 16px; /* Cambiar el tamaño de la tipografia */
    text-transform: uppercase; /* Texto en mayusculas */
    font-weight: bold; /* Fuente en negrita o bold */
    color: var(--blanco); /* Color del texto */
    border-radius: 5px; /* Borde del boton */
    letter-spacing: 2px; /* Espacio entre letras */
    background-color: var(--whatsapp); /* Color de fondo */
    padding: 18px 30px; /* Relleno del boton */
    position: fixed;
    bottom: 40px;
    right: 40px;
    transition: all 300ms ease 0ms;
    box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
    z-index: 99;
  }
  .btn-flotante:hover {
    background-color: var(--oro); /* Color de fondo al pasar el cursor */
    box-shadow: 0px 15px 20px rgba(0, 0, 0, 0.3);
    transform: translateY(-7px);
  }
  @media only screen and (max-width: 600px) {
     .btn-flotante {
      font-size: 14px;
      padding: 12px 20px;
      bottom: 20px;
      right: 20px;
    }
  } 
  
  #header img {
    width: 50px;
  }
  
  #main .carousel-inner img {
    max-height: 70vh;
    object-fit: cover;
    filter: grayscale(100%);
  }
  
  #carousel {
    position: relative;
  }
  
  #carousel .overlay {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgba(83, 62, 15, 0.5);
    color: white;
  }
  
  #carousel .overlay .container,
  #carousel .overlay .row {
    height: 100%;
  }
  
  #place-time {
    background-color: #343a40;
    color: white;
    padding-right: 20px;
    padding-left: 20px;
  }
  
  #place-time img {
    max-width: 100%;
    max-height: 500px;
    padding-left: 15%;
  }
  
  #footer {
    background: linear-gradient(90deg,#110c14,#1c0f24 25%,#190c24);
  }
  
  #footer a {
    color: white;
  }
  
  .img-footer {
    width: 200px;
    height: 70px;
    padding-left: 15px;
  }
  
  .navbar-brand img{
    height: 40px;
    margin: 0 auto;
    padding-left: 7px;
    padding-right: 7px;
  }
  
  .card-img-top {
    margin: 10px;
    width: 50px;
    height: 50px;
    margin-left: 45%;
    border-radius: 30%;
    background-color: var(--dorado);
    }
  
  .card {
    width: 90%;
    background-color: #e6e6da;
    border-radius: 30px;
    box-shadow: 0px 4px 8px rgb(43, 43, 25);
    margin-bottom: 20px;
  }
  
  .card:hover{
    background: linear-gradient(
      var(--naranjasombra),
      var(--naranja),
      var(--dorado),
      var(--oro),
      var(--amarillo),
      var(--oro),
      var(--dorado),
      var(--naranja),
      var(--naranjasombra)
    );
    color: black;
  }
  
  .card-title {
    margin-bottom: 15px;
    font-size: 1.8rem;
    font-size: bold;
    line-height: 1.8rem;
    text-align: center;
  }
  
  .card-text {
    font-size: 1.2rem;
    font-weight: 400;
    line-height: 1.8rem;
    text-align: center;
  }
  
  .servicios-title {
    color: var(--naranjasombra);
    font-size: bold;
    line-height: 1.9rem;
    margin-bottom: 40px;
  }
  
  .row small {
    font-size: bold;
    line-height: 1.9rem;
    font-weight: 500;
  }
  
  .card-img-hability {
    margin: 20px;
    margin-left: 30%;
    width: 80px;
    height: 80px;
  }
  
  .card-hability-title {
    font-size: 1.4rem;
    font-weight: 500;
    line-height: 1.8rem;
  }
  
  .card-hability-text span{
    font-size: 1.2rem;
    vertical-align: text-top;
  }
  
  .card-hability-text {
    font-size: 5.2rem;
    font-weight: bold;
    line-height: 6.3rem;
  }
  
  .hability-title {
    color: #790c94;
    font-size: bold;
    line-height: 1.9rem;
    margin-bottom: 40px;
  }
  
  #indicator1{
    padding-top: 30px;
    background-color:#790c94;
    border-radius: 50%;
  }
  
  #indicator1:hover{
    background-color: #00c3ff;
  }
  
  .meto {
    color: #790c94;
  }
  
  .imgmeto{
    width: 300px; 
    height: 300px;
    margin-left: 90px;
  }
  
  /*Contact sectiom*/
  a{
      color:#f700ff;
  }
  
  #contact{
      background:#252525;
      color:#f4f4f4;
  }
  
  textarea.form-control{
      height:100px;
  }
  .container-color{
    background-color: var(--dorado);
  }
  .row {
    align-items: center;
    justify-content: center;
  }
  
  .col-md-4 img {
  width: 100%;
  height: 700px;
  }

  .servicios-title {
    margin: 0;
    
    text-align: center;
    color: transparent;
    font-weight: normal;
    background: linear-gradient(
      var(--naranjasombra),
      var(--naranja),
      var(--dorado),
      var(--oro),
      var(--amarillo),
      var(--oro),
      var(--dorado),
      var(--naranja),
      var(--naranjasombra)
    );
    -webkit-background-clip: text;
    position: relative;
  }